In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df = pd.read_csv("newPrice.csv")
df.head()

,productName,productCode,MSRP,increased 05%,increased 10%,increased 20%
0,1969 Harley Davidson Ultimate Chopper,S10_1678,48.81,100.485,105.270,114.840
1,1952 Alpine Renault 1300,S10_1949,98.58,225.015,235.730,257.160
2,1996 Moto Guzzi 1100i,S10_2016,68.99,124.887,130.834,142.728
3,2003 Harley-Davidson Eagle Drag Bike,S10_4698,91.02,203.343,213.026,232.392
4,1972 Alfa Romeo GTA,S10_4757,85.68,142.800,149.600,163.200

In [30]:
plt.hist(df['MSRP', ''])
# sns.boxenplot(df['amount'])

KeyError: ('MSRP', '')